ion-content {
  --background: var(--ion-color-dark);
  color: #fff;
}

.category-list {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 10px;
}

.category-card {
  background: #2a2a2a;
  border-radius: 16px;
  color: white;
  box-shadow: none;
}

.category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;

  span {
    font-weight: 500;
  }

  .actions {
    display: flex;
    gap: 12px;

    ion-icon {
      font-size: 20px;
    }

    ion-icon[name='trash-outline'] {
      color: #e74c3c;
    }

    ion-icon[name='create-outline'] {
      color: #4c8dff;
    }
  }
}

ion-card {
  margin: 0px;
}

.empty-state {
  margin-top: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  ion-icon {
    font-size: 64px;
    margin-bottom: 8px;
  }

  p {
    font-weight: 500;
    margin-bottom: 4px;
    color: red;
  }
}

.btn-add{
  --background: #8b5cf6;
  --color : #fff;
}