.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


ion-toolbar {
    --background: var(--ion-color-primary);
    --color: #fff;
}

ion-content {
    --background: #1e1e1e;
    color: white;

    ion-item {
        --background: transparent;
        color: white;
    }

    ion-input,
    ion-select {
        color: white;
    }

    ion-note {
        margin-left: 16px;
        font-size: 0.9rem;
    }
}

ion-footer {
    background: #1e1e1e;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}