<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="dark">
    <p class="message">{{ message }}</p>
  </ion-text>
</ion-content>

<ion-footer class="ion-padding">
  <div class="buttons">
    <ion-button expand="block" class="delete-btn" color="danger" fill="outline" (click)="cancel()">
      Cancelar
    </ion-button>
    <ion-button expand="block" class="update-btn" (click)="confirm()">
      Aceptar
    </ion-button>
  </div>
</ion-footer>
