/* Aplica los colores usando la clase custom-menu */
ion-menu.custom-menu {
  --background: #5c33d6; /* fondo morado */
  --color: #ffffff;       /* texto general blanco */
}

/* Toolbar dentro del menú */
ion-menu.custom-menu ion-toolbar {
  --background: #5c33d6;
  --color: #ffffff;
}

/* Items del menú */
ion-menu.custom-menu ion-item {
  --background: transparent;
  --color: #ffffff; /* texto de los items */
  --ion-item-background-hover: rgba(255, 255, 255, 0.1); /* hover suave */
}

/* Íconos de los items */
ion-menu.custom-menu ion-item ion-icon {
  --color: #ffffff;
}
